{% extends 'base.html' %}
{% load static %}

{% block title %}Wordpress Reference Links{% endblock %}

{% block content %}

<h1>Wordpress Reference Links</h1>
<p>This is a collection of links I found useful when dealing with wordpress</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan="100%" scope="rowgroup" class="bg-danger text-light font-weight-bold">Databases</td>
    </tr>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-remote-database-to-optimize-site-performance-with-mysql-on-ubuntu-16-04" target="_blank">How To Set Up a Remote Database to Optimize Site Performance with MySQL on Ubuntu 16.04</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://www.linode.com/docs/databases/mysql/use-mysqldump-to-back-up-mysql-or-mariadb/" target="_blank">Use mysqldump to Back Up MySQL or MariaDB</a></td>
      <td></td>
    </tr>
  </tbody>
</table>


{% endblock %}