{% extends 'base.html' %}
{% load static %}

{% block title %}Git Code Reference{% endblock %}

{% block content %}

<h1>Github Commands</h1>
<p>This is a collection of commands I use to get git up and running in various projects</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan=2 scope="rowgroup" class="bg-danger text-light font-weight-bold">Initialize Git</td>
    </tr>
    <tr>
      <th scope="col">Function</th>
      <th scope="col">Input</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Set a Global Username</td>
      <td><code>$ git config --global user.name "Your Name"</code></td>
    </tr>
    <tr>
      <td>Set a Global Email Address</td>
      <td><code>$ git config --global user.email "Your Email"</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git config --global push.default matching</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git config --global alias.co checkout</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git init</code></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan=2 scope="rowgroup" class="bg-danger text-light font-weight-bold">Add Files To Git</td>
    </tr>
    <tr>
      <th scope="col">Function</th>
      <th scope="col">Input</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><code>$ git add .</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git commit -am "Commit Message"</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git push</code></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan=2 scope="rowgroup" class="bg-danger text-light font-weight-bold">Add Files To Git</td>
    </tr>
    <tr>
      <th scope="col">Function</th>
      <th scope="col">Input</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><code>$ git add .</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git commit -am "Commit Message"</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git push</code></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan=2 scope="rowgroup" class="bg-danger text-light font-weight-bold">Add Files To Git</td>
    </tr>
    <tr>
      <th scope="col">Function</th>
      <th scope="col">Input</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><code>$ git add .</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git commit -am "Commit Message"</code></td>
    </tr>
    <tr>
      <td></td>
      <td><code>$ git push</code></td>
    </tr>
  </tbody>
</table>







{% endblock %}