{% extends 'base.html' %}
{% load static %}

{% block title %}Server Setup Reference Links{% endblock %}

{% block content %}

<h1>Server Setup Reference Links</h1>
<p>This is a collection of articles which are helpful in getting a new server setup quickly</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td colspan="100%" scope="rowgroup" class="bg-danger text-light font-weight-bold">General</td>
    </tr>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Link</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>EFF Certbot Instructions</td>
      <td><a href="https://certbot.eff.org/">https://certbot.eff.org/</a></td>
      <td>Creates a SSL certificate for any website using the EFF certbot program</td>
    </tr>
    <tr>
      <td>Initial Server Setup with Ubuntu 16.04</td>
      <td><a href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-16-04">https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-16-04</a></td>
      <td></td>
    </tr>
    <tr>
      <td>How To Install Linux, Apache, MySQL, PHP (LAMP) stack on Ubuntu 16.04</td>
      <td><a href="https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu-16-04">https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu-16-04</a></td>
      <td></td>
    </tr>
    <tr>
      <td>Discussion about permissions for web folders</td>
      <td><a href="https://www.digitalocean.com/community/questions/discussion-about-permissions-for-web-folders">https://www.digitalocean.com/community/questions/discussion-about-permissions-for-web-folders</td>
      <td></td>
    </tr>
  </tbody>
</table>


{% endblock %}